<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>存款</title>
	</head>
	<SCRIPT type=text/javascript src="<?php echo base_url('application/views/js/jquery.js');?>"></SCRIPT>
	<script type="text/javascript" src="<?php echo base_url('application/views');?>/js/check.js"></script>
	<script>
		$(function () {
			var info = document.getElementById('tips').value.replace(/<.*?>/ig,"");
			if(info==""){
				//不做任何处理
			}else {
				alert(info);
			}
		});
	</script>
	<body>

		<!--如果后端没有发来任何返回值，就先将hidden的值设为空，有返回值则将返回值赋给hidden，然后通过js弹框出返回值信息-->
		<?php
			$i="";
			if(!isset($info)){
				$i="";
			}else{
				$i=$info;
			}
		?>
		<!--接收后端发来的提示信息-->
		<input type="hidden" id="tips" value="<?php echo $i;?>">
		<form name="cun" method="post" action="<?php echo base_url('user/save_bsn');?>" onsubmit="return checkCun(cun)">
			<table style="margin: 0 auto; padding-top: 100px;height:300px">
				<tr valign="bottom">
					<td>存款金额：<input type="text" name="money"/></td>
				</tr>
				<tr valign="top">
					<td align="center"><input type="submit" value="提交" style="width:100px"/></td>
				</tr>
			</table>
		</form>

	</body>
</html>
